#!/bin/sh
#
# $OpenBSD: salt_master.rc,v 1.4 2015/11/14 08:30:07 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/salt-master -d"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
